# ----------------------------------------
# Flutter / Dart
# ----------------------------------------
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins*
.flutter-plugins-dependencies
.melos_tool/
coverage/

# ----------------------------------------
# Android / Gradle
# ----------------------------------------
**/android/.gradle/
**/android/local.properties
**/android/**/generated/
**/android/**/gradle-wrapper.jar
**/android/**/captures/
**/android/**/build/

# ----------------------------------------
# iOS / macOS
# ----------------------------------------
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Runner/GeneratedPluginRegistrant.*

# ----------------------------------------
# Dev Tools / Editors
# ----------------------------------------
.vscode/
.idea/
.history/
*.iml

# ----------------------------------------
# System
# ----------------------------------------
.DS_Store

# ----------------------------------------
# Project-Specific Dev Artifacts
# ----------------------------------------
commands.txt
temp.txt
*.sh
# Allow only the boot loader script
!boot_total_recall.sh


# Logs
*.log
*.tmp
logs/
